<!-- <h1 class="heading">{{appProductName}}</h1> -->

<div class="grid">
    <div class="col-9 col-offset-2">
        <app-navigation [appProductName]="appProductName"></app-navigation>
        <!-- CARD -->
        <p-card class="card p-3" styleClass="p-2">
            <!-- <p-card header="Advanced Card" subheader="Card Subheader" > -->
            <ng-template pTemplate="header">
                <h3 class="heading p-3 text-left text-indigo-500">Choose Vehicle</h3>
            </ng-template>

            <!-- Show cars card -->
            <app-car-list [automotives$]="automotives$"></app-car-list>
        </p-card>

        <!-- DATAVIEW -->



    </div>
</div>